* {
  box-sizing: border-box;
}

html {
  font-size: 18x;
}

a {
  font-size: 1.15rem;
}

span {
  font-size: 1.1rem;
}

p {
  font-size: 1.05rem;
}

input,
label {
  font-size: 1.1rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
